@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

body {
  font-family: "Figtree", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.mb-16 { margin-bottom: 2rem; }
.mt-16 { margin-top: 2rem; }
.mt-32 { margin-top: 4rem; }
.block { display: block }
.mb-4 { margin-bottom: 1rem; }
.full-width { width: 100%; }
.m-0 { margin: 0; }
.justify-end { justify-content: flex-end; }
.text-center { text-align: center; }
.donate-button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
.floating {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--pico-background-color);
}

.success-button {
  --color-green-500: rgb(34 197 94);
  --color-green-400: rgb(74 222 128);

  background-color: var(--color-green-500);
  border-radius: 4px;
  border: none;
  color: white;

  &:hover {
      cursor: pointer;
      background-color: var(--color-green-400);
  }
}
