:root {
    --color-sky-500: rgb(2 132 199);
    --color-sky-400: rgb(14 165 233);
    --color-green-500: rgb(34 197 94);
    --color-green-400: rgb(74 222 128);
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

textarea, input, select, button {
    font-size: 1rem;
}

p, textarea {
    line-height: 1.5em;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    padding: 3rem 1.5rem;
    position: relative;
}

.field-wrapper {
    margin: 1rem 0;

    & label {
        display: inline-block;
        margin-bottom: 0.375rem;
        font-weight: 600;
    }

    & span {
        font-size: 14px;
        display: block;
        margin-bottom: 0.75rem;
        font-style: italic;
    }

    & input, textarea, select {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border: 1px solid #dfdfdf;
        background-color: transparent;
        border-radius: 4px;
        box-sizing: border-box;

        &:focus {
            outline-color: var(--color-sky-500);
        }
    }

    & textarea {
        resize: none;
    }
}

button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    display: block;
}

.primary-button {
    background-color: var(--color-sky-500);
    border-radius: 4px;
    border: none;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: var(--color-sky-400);
    }
}

.secondary-button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--color-sky-500);
    color: var(--color-sky-500);

    &:hover {
        cursor: pointer;
        color: var(--color-sky-400);
        border: 1px solid var(--color-sky-400);
    }
}

.success-button {
    background-color: var(--color-green-500);
    border-radius: 4px;
    border: none;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: var(--color-green-400);
    }
}

.centered {
    text-align: center;
}

a {
    color: var(--color-sky-500);
}

.floating {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;

    & div {
        max-width: 600px;
        margin: 0 auto;

        & div {
            padding: 1.5rem;
        }
    }
}
