---
layout: default
title: Blog
permalink: /blog
description: List of blog posts, grouped by the published year.
reply_to_email: none
---

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<div class="mt-8">
  {% for year in posts_by_year %}
    <details class="mt-4" {% if forloop.first %}open{% endif %}>
      <summary>{{ year.name }}</summary>

      <ul>
        {% for post in year.items %}
          <li>
            {{ post.date | date: "%b %d, %Y" }} — <a class="mt-1" href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
</div>
