$backgroundColor: #ffffff;
$bodyColor: #000000;
$primaryColor: #0172ad;
$primaryColorDark: #7A7E8A;

@font-face {
  font-family: "Figtree";
  src: url('/assets/fonts/Figtree-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/assets/fonts/Figtree-Bold.ttf') format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/assets/fonts/Figtree-Italic.ttf') format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url('/assets/fonts/Figtree-BoldItalic.ttf');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}


* { box-sizing: border-box; }

html { scroll-behavior: smooth; }
body {
  font-family: "Figtree";
  margin: 0;
  padding: 0;
}

a { color: $primaryColor; }
li a { text-decoration: none; }
nav a { text-decoration: none; }

blockquote {
  color: #999999;
  border-left: 4px solid #dfdfdf;
  padding-left: 1rem;
  margin-left: 0;
}

p code, li code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: #f1f1f1; /* light gray */
  border-radius: 3px;
  padding: 2px 4px;
}

p, li { line-height: 1.5em; }
button:hover, summary:hover { cursor: pointer; }

article hr {
  border: none;
  border-bottom: 1px solid gray;
  margin: 2rem auto;
  width: 50px;
}

article p a {
  text-decoration: underline;
}

img {
  width: 100%;

  @media (min-width: 768px) {
    width: 80%;
  }
}

p img {
  display: block;
  margin: 0 auto;
}
p:has(img + em) {
  text-align: center;
  font-size: 12px;
}
p img + em {
  display: inline-block;
  margin-top: 8px;
  color: gray;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mt-16 { margin-top: 4rem; }
.mb-16 { margin-bottom: 4rem; }
.mb-12 { margin-bottom: 3rem; }
.mt-8 { margin-top: 2rem; }
.mt-6 { margin-top: 1.5rem; }
.mt-4 { margin-top: 1rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-1 { margin-top: 0.25rem; }
.mt-0 { margin-top: 0; }
.mb-8 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-0 { margin-bottom: 0; }
.mr-4 { margin-right: 1rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-1 { margin-right: 0.25rem; }
.p-2 { padding: 0.5rem; }
.pr-2 { padding-right: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.block { display: block; }
.flex { display: flex; }
.items-end { align-items: flex-end; }
.gap-2 { gap: 0.5rem; }
.text-center { text-align: center; }
.no-text-decoration { text-decoration: none; }
.text-gray { color: gray; }
.text-red { color: red; }
.text-black { color: black; }
.text-orange { color: orange; }
.underline { text-decoration: underline; }
.full-width { width: 100%; }

.flex { display: flex; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.h-min { height: min-content; }
.w-1\/2 { width: 50%; }
.text-right { text-align: right; }
.text-sm { font-size: 0.875rem; }
.font-normal { font-weight: 400; }
.leading-loose { line-height: 2em; }
.guestbook {
  width: 100%;
  height: 300px;
  background-color: #fff;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121420;
    color: #E4E6EB;
  }

  a { color: #B0B3BA; }

  nav a,
  nav a:visited,
  .text-gray,
  article a:visited {
    color: $primaryColorDark;
  }

  footer.text-gray { color: #B0B3BA; }
  footer a { color: #7A7E8A; }
  blockquote {
    color: #7A7E8A;
    border-left: 2px solid #7A7E8A;
  }
  p code, li code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: #252836;
    color: #B0B3BA;
  }
}

/* Adjusted to give override background and text colour */
.highlight pre, pre, .highlight .hll {
  background-color: #49483E;
  border-radius: 8px;
  padding: 1rem;
  color: #FFFFFF;
  line-height: 1.5;
  font-size: 14px;
  overflow-x: scroll;
}

.gist pre {
  color: #515151;
}

/* Highlights taken from https://gist.github.com/asaaki/1007420  for Monokai theme */
.c { color: #75715e }
.err { color: #960050; background-color: #1e0010 }
.k { color: #66d9ef }
.l { color: #ae81ff }
.n { color: #f8f8f2 }
.o { color: #f92672 }
.p { color: #f8f8f2 }
.cm { color: #75715e }
.cp { color: #75715e }
.c1 { color: #75715e }
.cs { color: #75715e }
.ge { font-style: italic }
.gs { font-weight: bold }
.kc { color: #66d9ef }
.kd { color: #66d9ef }
.kn { color: #f92672 }
.kp { color: #66d9ef }
.kr { color: #66d9ef }
.kt { color: #66d9ef }
.ld { color: #e6db74 }
.m { color: #ae81ff }
.s { color: #e6db74 }
.na { color: #a6e22e }
.nb { color: #f8f8f2 }
.nc { color: #a6e22e }
.no { color: #66d9ef }
.nd { color: #a6e22e }
.ni { color: #f8f8f2 }
.ne { color: #a6e22e }
.nf { color: #a6e22e }
.nl { color: #f8f8f2 }
.nn { color: #f8f8f2 }
.nx { color: #a6e22e }
.py { color: #f8f8f2 }
.nt { color: #f92672 }
.nv { color: #f8f8f2 }
.ow { color: #f92672 }
.w { color: #f8f8f2 }
.mf { color: #ae81ff }
.mh { color: #ae81ff }
.mi { color: #ae81ff }
.mo { color: #ae81ff }
.sb { color: #e6db74 }
.sc { color: #e6db74 }
.sd { color: #e6db74 }
.s2 { color: #e6db74 }
.se { color: #ae81ff }
.sh { color: #e6db74 }
.si { color: #e6db74 }
.sx { color: #e6db74 }
.sr { color: #e6db74 }
.s1 { color: #e6db74 }
.ss { color: #e6db74 }
.bp { color: #f8f8f2 }
.vc { color: #f8f8f2 }
.vg { color: #f8f8f2 }
.vi { color: #f8f8f2 }
.il { color: #ae81ff }

input[type=text],
input[type=url],
textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7A7E8A;
  margin-bottom: 1rem;

  &:focus {
    outline: none;
    border-bottom: 2px solid $primaryColor;
  }
}
textarea { min-height: 100px; }
input[type=submit] {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: $primaryColor;
  color: white;
  width: 100px;
  padding: 0.25rem;
  border: none;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  input[type=text],
  input[type=url],
  textarea { color: #B0B3BA; }
  input[type=submit] {
    background-color: $primaryColorDark;
    color: white;
  }
}

.status {
  padding: 1rem;
  border: 1px solid #7A7E8A;
  background-color: #fcfcfc;
  color: #444444;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .status {
    background-color: #121420;
    color: #B0B3BA;
  }
}

.btn {
  text-align: center;
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
}

.btn--primary {
  background-color: $primaryColor;
  color: white!important;
}
.w-full { width: 100%; }
.empty-state { display: none; }
.empty-state:has(+ script) { display: block; }
.profile-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 1rem;
}
.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.site-title-anchor {
  text-decoration: none;
  color: inherit;
}
.post-date {
  font-family: monospace;
  font-size: 14px;
}
.profile-picture {
  float: left;
  margin-top: 1.375rem;
  margin-right: 1rem;
  width: 120px!important;

  @media (min-width: 768px) {
    width: 140px!important;
  }
}
details summary {
  list-style-type: none;
  line-height: 1rem;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::marker {
  display: none;
}
details summary::-moz-list-bullet {
  list-style-type: none;
}
details summary::before {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-inline-start: calc(1rem * 0.5);
  float: left;
  transform: rotate(-90deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: left center;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  content: "";
  transition: transform 0.2s ease-in-out;
}
details[open] > summary::after {
  transform: rotate(0);
}