.grid--two-columns-on-tablet-and-up {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 4rem;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.fixed-on-mobile-only {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  & > div {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }

  @media (min-width: 48rem) {
    position: static;

    & > div {
      padding: 0;
    }
  }
}
