@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/Figtree-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

body {
  font-family: "Figtree", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.mb-16 { margin-bottom: 2rem; }
.mt-16 { margin-top: 2rem; }
.mt-32 { margin-top: 4rem; }
.flex { display: flex }
.gap-4 { gap: 1rem; }
.text-2xl { font-size: 2.5rem }
.font-bold { font-weight: 800 }
.m-0 { margin: 0; }
.justify-end { justify-content: flex-end; }
.text-center { text-align: center; }
.donate-button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
