a[role="button"] {
  background-color: $primaryColor;
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 0.75rem 1rem;
  text-align: center;

  &:hover {
    background-color: #027bba;
  }
}
