<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/favicon.svg">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <main class="container px-4">
      {% assign links = "/, /blog" | split: ", " %}
      {% assign navlinks = site.data.navlinks | map: "url" %}
      <heading>
        <h1>{{ site.title }}</h1>
        <nav class="leading-loose">
          {% for link in site.data.navlinks %}
            <a class="mr-2" href="{{ link.url }}">{{ link.name }}</a>
          {% endfor %}
        </nav>
      </heading>
      <article class="mt-8">
        {% unless links contains page.url %}
          {% unless navlinks contains page.url %}
            <p class="mb-2">
              <small class="text-gray">
                {{ page.date | date: "%b %-d, %Y" }}
              </small>
            </p>
          {% endunless%}
          <h1 class="mt-2">{{ page.title }}</h1>
        {% endunless %}
        {{ content }}
      </article>
      {% assign reply_to_email = page.reply_to_email | default: true %}
      {% if reply_to_email != "none" %}
      <blockquote>
        Balas melalui <a href="mailto:{{ site.email }}?subject=Re: {{ page.title }}">email</a>.
      </blockquote>
      {% endif %}
      <footer class="text-gray mt-8 mb-16 text-center text-sm">
        <p>
          Ditulis oleh manusia. Tangkap <a class="underline" href="/feed.xml">feed RSS</a>.
        </p>
      </footer>
    </main>
  </body>
</html>
