<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <main class="container">
      {% assign links = "/, /blog" | split: ", " %}
      {% assign navlinks = site.data.navlinks | map: "url" %}
      <heading>
        <h1 class="mt-8">💻&nbsp; {{ site.title }}</h1>
        <nav class="leading-loose">
          {% for link in site.data.navlinks %}
            {% if link.url == page.url %}
              <strong>
                <a class="mr-2" href="{{ link.url }}">{{ link.name }}</a>
              </strong>
            {% else %}
              <a class="mr-2" href="{{ link.url }}">{{ link.name }}</a>
            {% endif %}
          {% endfor %}
        </nav>
      </heading>
      <article class="my-8">
        {% unless links contains page.url %}
          {% unless navlinks contains page.url %}
            <p class="mb-2">
              <small class="text-gray">
                {{ page.date | date: "%B %-d, %Y" }}
                ·
                {% assign reading_time = content | number_of_words | divided_by: 238.0 | ceil %}
                  {% if reading_time > 1 %}{{ reading_time }} minutes read{% else %}{{ reading_time }} minute read{% endif %}
              </small>
            </p>
          {% endunless%}
          <h1 class="mt-0">{{ page.title }}</h1>
        {% endunless %}
        {{ content }}
      </article>
      {% unless links contains page.url %}
        <nav class="flex mt-8 text-sm">
          <div class="w-1/2 pr-2">
            {% if page.previous %}
              <a href="{{ page.previous.url }}">
                ←<br>
                {{ page.previous.title}}
              </a>
            {% endif %}
          </div>
          <div class="w-1/2 text-right pl-2">
            {% if page.next %}
              <a href="{{ page.next.url }}">
                →<br>
                {{ page.next.title}}
              </a>
            {% endif %}
          </div>
        </nav>
      {% endunless %}
      <footer class="text-gray my-16 text-center text-sm">
        <p>
          Written by human. Grab the <a class="underline" href="/feed.xml">RSS Feed</a>.
        </p>
      </footer>
    </main>
  </body>
</html>
